input {
    cursor: pointer;
}
progress[value] {
    appearance: none;
    height: 0.5em;
    width: 230px;
}
.wrapper {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}
#sidebar.active {
    margin-left: -310px;
}
#sidebar {
    min-width: 310px;
    max-width: 310px;
    min-height: 100vh;
    color: #ffffff;
    transition: all 0.3s;
    padding: 0;
    margin-top: 45px;
}
#sidebar .chatroom-container {
    position: fixed;
    width: 310px;
    height: 95vh;
    margin-top: -4vh;
    display: flex;
    flex-direction: column;
}
#sidebar .chatroom-container .chatroom {
    height: 35px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background: #1d1f20;
}
#sidebar .chatroom-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    cursor: pointer;
    font-size: 12px;
    background: #1d1f20;
}
#sidebar .chatroom-container .title div {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #1d1f20;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#sidebar .chatroom-container .title .title-active {
    background: #454b52;
    color: #1d1f20;
}
#sidebar .chatroom-container .block {
    flex: 2;
    height: 0;
    background: #454b52;
}
#sidebar .chatroom-container .block .message-area-1 {
    list-style: none;
    padding: 5px 10px;
    background: #454b52;
    height: 100%;
    display: none;
    font-size: 12px;
    margin-bottom: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .block .message-area-2 {
    background: #454b52;
    list-style: none;
    padding: 5px 10px;
    height: 100%;
    display: none;
    font-size: 12px;
    margin-bottom: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .block .message-area-3 {
    background: #454b52;
    list-style: none;
    padding: 5px 10px;
    height: 100%;
    display: none;
    font-size: 12px;
    margin-bottom: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .block .message-area-4 {
    background: #454b52;
    list-style: none;
    padding: 5px 10px;
    height: 100%;
    display: none;
    font-size: 12px;
    margin-bottom: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .block .message-area-1 li {
    margin-bottom: 2px;
}
#sidebar .chatroom-container .block .message-area-2 li {
    margin-bottom: 2px;
}
#sidebar .chatroom-container .block .message-area-3 li {
    margin-bottom: 2px;
}
#sidebar .chatroom-container .block .message-area-4 li {
    margin-bottom: 2px;
}
#sidebar .chatroom-container .block .message-area-1 li audio {
    outline: none;
    width: 270px;
    height: 17px;
    margin-top: 5px;
    display: flex;
}
#sidebar .chatroom-container .block .message-area-2 li audio {
    outline: none;
    width: 270px;
    height: 16px;
    margin-top: 5px;
    display: flex;
}
#sidebar .chatroom-container .block .message-area-3 li audio {
    outline: none;
    width: 270px;
    height: 16px;
    margin-top: 5px;
    display: flex;
}
#sidebar .chatroom-container .block .message-area-4 li audio {
    outline: none;
    width: 270px;
    height: 16px;
    margin-top: 5px;
    display: flex;
}
#sidebar .chatroom-container .block .chatroom-active {
    display: block;
}
#sidebar .chatroom-container .message-input form {
    position: relative;
    margin-bottom: 0;
    display: none;
}
#sidebar .chatroom-container .message-input form .checkbox {
    height: 30px;
    width: 100%;
    background: #7e8185;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7px;
}
#sidebar .chatroom-container .message-input form .checkbox input {
    padding-left: 10px;
    width: 90%;
    background: #7e8185;
    outline: none;
    overflow-y: auto;
    border: none;
    cursor: auto;
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    height: 100%;
}
#sidebar .chatroom-container .message-input form .checkbox #microphone-1 {
    cursor: pointer;
}
#sidebar .chatroom-container .message-input form .checkbox #microphone-2 {
    cursor: pointer;
}
#sidebar .chatroom-container .message-input form .checkbox #microphone-3 {
    cursor: pointer;
}
#sidebar .chatroom-container .message-input form .checkbox #microphone-4 {
    cursor: pointer;
}
#sidebar .chatroom-container .message-input form .checkbox .start-recording-1 {
    position: absolute;
    right: 30px;
    top: -13px;
    font-size: 22px;
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .checkbox .start-recording-2 {
    position: absolute;
    right: 30px;
    top: -13px;
    font-size: 22px;
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .checkbox .start-recording-3 {
    position: absolute;
    right: 30px;
    top: -13px;
    font-size: 22px;
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .checkbox .start-recording-4 {
    position: absolute;
    right: 30px;
    top: -13px;
    font-size: 22px;
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .checkbox .microphone-active {
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input form .submit {
    background: #454b52;
    border: none;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    color: #ffffff;
}
#sidebar .chatroom-container .message-input form .submit:hover {
    color: #1d1f20;
}
#sidebar .chatroom-container .message-input .message-active {
    display: flex;
}
#sidebar .chatroom-container .medal-title {
    background: #1d1f20;
    padding: 5px 10px;
    height: 35px;
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .medal {
    flex: 1.5;
    background: #454b52;
    height: 0;
    overflow-y: auto;
}
#sidebar .chatroom-container .medal .medal-image {
    display: flex;
    flex-wrap: wrap;
}
#sidebar .chatroom-container .medal .medal-image div {
    width: 90px;
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .experience {
    flex: 0.4;
    padding: 5px 10px;
    overflow-y: auto;
    font-size: 14px;
}
#sidebar .chatroom-container .experience .level {
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .experience .level i {
    margin-left: 10px;
    color: #ffffff;
    background: #1d1f20;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar .chatroom-container .experience .bar {
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .experience .bar .bar-image::-webkit-progress-bar {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 3px #000000 inset;
}
#sidebar .chatroom-container .experience .bar .bar-image::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #ff4444, #ff4444);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#sidebar .chatroom-container .experience .bar .bar-value {
    margin-left: 10px;
    font-size: 10px;
}
#sidebar .chatroom-container .experience .next-level {
    display: flex;
    align-items: center;
}
#sidebar .chatroom-container .experience .next-level i {
    margin-left: 10px;
    color: #ffffff;
    background: #1d1f20;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top {
    height: 50px;
    padding-left: 20px;
    padding-right: 1px;
    padding-top: 0;
    padding-bottom: 0;
}
.top .button {
    display: flex;
    align-items: center;
}
.top .button .btn-dark {
    border: solid 1px #454b52;
}
.top .button .top-left-title {
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 45px;
}
.top .button .top-title {
    color: #ffffff;
    font-size: 14px;
    margin-right: 25px;
    cursor: pointer;
}
.top .button .top-title:hover {
    color: #1d1f20;
}
.top .button .top-title .search-player-name {
    width: 120px;
    outline: none;
    cursor: auto;
}
.top .button .top-title .player-search {
    background: none;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.top .button .top-title .player-search:hover {
    color: #1d1f20;
}
.top .header {
    display: flex;
}
.top .header .dropdown .btn .icon {
    height: 35px;
    width: 35px;
    border-radius: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .header .dropdown .btn .icon #icon-picture {
    height: 35px;
    width: 35px;
    border-radius: 70px;
    object-fit: cover;
}
.top .header .dropdown .dropdown-menu {
    right: 0;
    left: auto;
    background: #1d1f20;
    top: 47px;
    font-size: 13px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 200px;
}
.top .header .dropdown .dropdown-menu .dropdown-item {
    padding-left: 10px;
    padding-right: 10px;
    color: #aaaaaa;
    cursor: pointer;
}
.top .header .dropdown .dropdown-menu .dropdown-item:hover {
    background: #7e8185;
    color: #1d1f20;
}
.top .header .dropdown .dropdown-menu .user-info .username {
    margin-bottom: 5px;
}
.top .header .dropdown .dropdown-menu .user-info .email-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.top .header .dropdown .dropdown-menu .user-info .email-wrap .email {
    color: #454b52;
}
.top .header .dropdown .dropdown-menu .user-info:hover {
    background: #1d1f20;
    color: #aaaaaa;
}
.main-area {
    flex: 1;
    margin-top: 50px;
    background: #dadada;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 0;
    position: relative;
}
.main-area .preference .second-full-display {
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: auto;
    z-index: 1;
    display: none;
}
.main-area .preference .sound-area {
    display: block;
    text-align: center;
    background: rgba(173, 173, 173, 0.6);
    box-shadow: 0 0 7px rgb(0 0 0 / 80%);
    padding: 10px;
    border-radius: 2px;
    position: relative;
    height: 93px;
    width: 320px;
}
.main-area .preference .sound-area .crosscolor {
    position: absolute;
    right: -12px;
    top: -10px;
}
.main-area .preference .sound-area .crosscolor .imageflex {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: pointer;
    background: #454b52;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.main-area .preference .sound-area .crosscolor .imageflex i {
    font-size: 15px;
}
.main-area .preference .sound-area .crosscolor .imageflex:hover {
    background: #161616;
}
.main-area .preference .sound-area .first-part {
    font-size: 14px;
}
.main-area .preference .sound-area .first-part .language {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.main-area .preference .sound-area .first-part .language .language-area {
    width: 130px;
    text-align: left;
}
.main-area .preference .sound-area .first-part .language .language-area input {
    width: 128px;
    background: #7e8185;
    color: #ffffff;
    border: solid 1px #000000;
    outline: none;
    border-radius: 2px;
    font-size: 10px;
    height: 20px;
}
.main-area .preference .sound-area .first-part .background-sound {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.main-area .preference .sound-area .first-part .background-sound #start-bgm {
    position: absolute;
    left: 138px;
    bottom: 39px;
    outline: none;
}
.main-area .preference .sound-area .first-part .background-sound .tune {
    display: flex;
    align-items: center;
}
.main-area .preference .sound-area .first-part .background-sound .tune .background-song {
    width: 45px;
    height: 18px;
    background: #7e8185;
    color: #ffffff;
    border: solid 1px #000000;
    outline: none;
    border-radius: 2px;
    font-size: 10px;
}
.main-area .preference .sound-area .first-part .background-sound .tune #bgm-volume {
    width: 80px;
    margin-left: 5px;
}
.main-area .preference .sound-area .first-part .instruction-sound {
    display: flex;
    justify-content: space-between;
}
.main-area .preference .sound-area .first-part .instruction-sound #start-instruction {
    position: absolute;
    left: 138px;
    bottom: 11px;
    outline: none;
}
.main-area .preference .sound-area .first-part .instruction-sound #effect-volume {
    width: 132px;
}
.main-area .third-full-display {
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: auto;
    z-index: 1;
    display: none;
}
.main-area .friend-area {
    display: block;
    text-align: center;
    background: rgba(173, 173, 173, 0.6);
    box-shadow: 0 0 7px rgb(0 0 0 / 80%);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-radius: 2px;
    position: relative;
    height: 360px;
    overflow-y: auto;
}
.main-area .friend-area .crosscolor {
    position: absolute;
    right: -12px;
    top: -10px;
}
.main-area .friend-area .crosscolor .second-imageflex {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: pointer;
    background: #454b52;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    position: fixed;
    right: -12px;
}
.main-area .friend-area .crosscolor .second-imageflex i {
    font-size: 15px;
}
.main-area .friend-area .crosscolor .second-imageflex:hover {
    background: #161616;
}
.main-area .friend-area .friend-list .friend-list-title {
    font-weight: 700;
    padding-bottom: 10px;
}
.main-area .friend-area .friend-list .table {
    margin-bottom: 0;
}
.main-area .friend-area .friend-list .table ul {
    list-style: none;
    font-size: 14px;
    padding-left: 0;
    margin-bottom: 0;
}
.main-area .friend-area .friend-list .table ul li {
    display: flex;
    position: relative;
}
.main-area .friend-area .friend-list .table ul li .ranking-name {
    border: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul li .ranking-number {
    border-right: solid 1px #7e8185;
    border-top: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul li .online-time {
    border-right: solid 1px #7e8185;
    border-top: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-ranking-name {
    border-left: solid 1px #7e8185;
    border-right: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-ranking-name:hover {
    color: #ffffff;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-ranking-number {
    border-right: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-online-time {
    border-right: solid 1px #7e8185;
    border-bottom: solid 1px #7e8185;
    padding: 2px 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-remove-friend .remove-friend {
    position: absolute;
    width: 50px;
    border: solid 1px #7e8185;
    padding: 2px 5px;
    border-radius: 2px;
    background: rgba(173, 173, 173, 0.9);
    text-align: left;
    top: -5px;
    left: 80px;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-remove-friend .remove-friend .remove-friend-word {
    cursor: pointer;
    font-size: 10px;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-remove-friend .remove-friend .remove-friend-word:hover {
    color: #ffffff;
}
.main-area .friend-area .friend-list .table ul .load-friend .one-friend .one-remove-friend .remove-friend i {
    position: absolute;
    color: #1d1f20;
    left: -8px;
    top: 10px;
}
.main-area .game-container .introduction-1 {
    display: flex;
    border: 1px solid #000000;
    margin: 20px 80px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;
    background: no-repeat fixed url('./image/ysfgpmpbku1cvpv86gdm3hyhyfdho77zy1vehdznqocdjc0repjpnw1nrh4iehf9-.jpeg');
    background-position-y: top;
    background-size: 100%;
}
.main-area .game-container .introduction-1 video {
    border-radius: 10px;
    outline: none;
    border: 0;
}
.main-area .game-container .introduction-1 .game-rule {
    padding: 5px 10px;
    height: 300px;
    overflow-y: auto;
    text-align: left;
}
.main-area .game-container .introduction-1 .game-rule .rule-title {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
}
.main-area .game-container .introduction-1 .game-rule .rule-sub-main-title span {
    font-weight: 700;
    border-bottom: solid 3px #000000;
}
.main-area .game-container .introduction-1 .game-rule .rule-sub-title {
    font-weight: 700;
}
.main-area .game-container .introduction-1 .game-rule .rule-content .spacing {
    height: 10px;
}
.main-area .game-container .introduction-1 .game-rule .rule-content .note {
    padding: 5px 10px;
    background: #7e8185;
    color: #ffffff;
    border-radius: 5px;
}
.main-area .game-container .introduction-1 .game-rule video {
    margin-top: 5px;
}
.main-area .game-container .introduction-1 .game-rule .rule-content img {
    height: 200px;
    width: auto;
    border-radius: 10px;
}
.main-area .game-container .introduction-1 .create-room-container {
    padding: 5px;
}
.main-area .game-container .introduction-1 .create-room-container .number {
    height: 260px;
}
.main-area .game-container .introduction-1 .create-room-container .player-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
    width: 173px;
}
.main-area .game-container .introduction-1 .create-room-container .player-number input {
    width: 40px;
    margin-left: 10px;
    background: #dadada;
    border: solid 1px #000000;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
}
.main-area .game-container .introduction-1 .create-room-container .score {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    color: #ffffff;
    font-size: 14px;
}
.main-area .game-container .introduction-1 .create-room-container .score input {
    width: 40px;
    margin-left: 10px;
    background: #dadada;
    border: solid 1px #000000;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
}
.main-area .game-container .introduction-1 .create-room-container .button {
    display: flex;
    justify-content: center;
}
.main-area .game-container .introduction-1 .create-room-container .button .load-game-button {
    display: none;
    padding: 3px 6px;
    font-size: 12px;
    margin-right: 5px;
}
.main-area .game-container .introduction-1 .create-room-container .button .create-room-button {
    padding: 3px 6px;
    font-size: 12px;
}
.main-area .game-container .introduction-1 .create-room-container .button button:hover {
    color: #1d1f20;
}
.main-area .game-container .row {
    margin: 0 40px;
}
.main-area .game-container .row .col-xl-9 .gameroom-join {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 28%;
    border: solid 1px black;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 7px rgb(0 0 0 / 30%);
    position: relative;
    font-size: 14px;
    background: #ffffff;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .join-button {
    font-size: 14px;
    background: #7e8185;
    border-radius: 3px;
    border: 0;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .join-button a {
    color: #ffffff;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .join-button a:hover {
    color: #1d1f20;
    text-decoration: none;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player {
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player .player-picture {
    color: #7e8185;
    font-size: 36px;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player .player-ready {
    color: #0011ff;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player .player-name {
    text-align: center;
    cursor: pointer;
    position: relative;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player .player-name:hover {
    color: #d6d6d6;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player .player-name .no-player-name {
    font-size: 8px;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player .player-name .add-friend-area .add-friend-content {
    position: absolute;
    width: 65px;
    top: 16px;
    left: -40px;
    border: solid 1px #7e8185;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    border-radius: 2px;
    background: rgba(173, 173, 173, 0.4);
    text-align: left;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player .player-name .add-friend-area .add-friend-content .word {
    cursor: pointer;
    color: #000000;
    font-size: 10px;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player .player-name .add-friend-area .add-friend-content i {
    position: absolute;
    top: -14px;
    right: 3px;
    font-size: 18px;
    color: #d6d6d6;
}
.main-area .game-container .row .col-xl-9 .gameroom-join .room-information .player-label .individual-player .player-name .add-friend-area .add-friend-content .word:hover {
    color: #ffffff;
}
.main-area .game-container .row .col-xl-3 .middle {
    display: flex;
    justify-content: center;
}
.main-area .game-container .row .col-xl-3 .notice-board {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 25px;
    border: solid 1px black;
    border-radius: 3px;
    background: #ffffff;
}
.main-area .game-container .row .col-xl-3 .notice-board .heading {
    background: #343a40;
    color: #ffffff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .game-container .row .col-xl-3 .notice-board .notice-content {
    padding: 5px 10px;
    font-size: 14px;
}
.main-area .game-container .row .col-xl-3 .notice-board .update-heading {
    background: #343a40;
    color: #ffffff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .game-container .row .col-xl-3 .notice-board .update-content {
    padding: 5px 10px;
    font-size: 14px;
}
.main-area .game-container .row .col-xl-3 .notice-board .update-content ul {
    margin-bottom: 0;
}
.main-area .game-container .row .col-xl-3 .notice-board .sub-heading {
    background: #343a40;
    color: #ffffff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area .game-container .row .col-xl-3 .notice-board .player-content {
    padding: 5px 10px;
    font-size: 14px;
}
@media (max-width: 1200px) {
    .main-area .game-container .row .col-xl-3 .notice-board {
        width: 400px;
    }
    .main-area .game-container .row .col-xl-3 .notice-board {
        margin-left: 20px;
    }
    .main-area .game-container .row .col-xl-9 .gameroom-join .room-information {
        width: 45%;
    }
}
@media (max-width: 1180px) {
    .main-area .game-container .introduction-1 .create-room-container .player-number {
        width: auto;
        display: block;
    }
    .main-area .game-container .introduction-1 .create-room-container .player-number input {
        margin-left: 0;
    }
    .main-area .game-container .introduction-1 .create-room-container .score {
        display: block;
    }
    .main-area .game-container .introduction-1 .create-room-container .score input {
        margin-left: 0;
    }
}
@media (max-width: 1115px) {
    .main-area .game-container .introduction-1 video {
        overflow-x: auto;
    }
    .main-area .game-container .introduction-1 .game-rule {
        display: none;
    }
}
@media (max-width: 800px) {
    .main-area .game-container .row .col-xl-3 .notice-board {
        width: 100%;
    }
    .top .button .top-left-title {
        display: none;
    }
}
@media (max-width: 768px) {
    .main-area .game-container .row .col-xl-9 .gameroom-join .room-information {
        width: 100%;
    }
}
@media (max-width: 530px) {
    .top .button .search {
        display: none;
    }
}
.top-left-title {
    cursor: pointer;
}
